*,html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-color:rgb(37, 43, 66);
    --text-color:#fff;
    --secondary-color:hsl(202, 87%, 54%);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

header {
    justify-self: center;
    max-width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h1 {
    text-align: center;
}