*,html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-color:rgb(37, 43, 66);
    --text-color:#fff;
    --secondary-color:hsl(202, 87%, 54%);
    --paddingtop:65px;
    --phone-textSize:14px;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    height: 600vh;
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

header {
    justify-self: center;
    max-width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: var(--paddingtop);
    position: relative;
}

.imgg {
    position: absolute;
    top: 30px;
    left: -50px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h1 {
    font-size: 40px;
    text-align: center;
}

.btn1 {
    width: 185px;
    height: 42px;
    border-radius: 20px;
    border: transparent;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-weight: bold;
}

.btn2 {
    width: 154px;
    height: 42px;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    background-color: transparent;
    border-radius: 20px;
    font-weight: bold;
}

.img1 {
    width: 390px;
    height: 454px;
}

/* SECTION2 */

.section2 {
    padding-top: var(--paddingtop);
}

.heading1 {
    margin-top: var(--paddingtop);
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.section2 ul {
    padding-top: var(--paddingtop);
}

.text1 {
    font-size: var(--phone-textSize);
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--paddingtop);
}

.card-item {
    display: flex;
    gap: 20px;
    width: 328px;
    height: 139px;
    justify-content: flex-start;
}

.heading2 {
    font-size: 16px;
    padding-bottom: 10px;
}

.contact {
    display: none;
}
